/* 页面主题色 */
/* 去除 padding margin */
body,
h1,
h2,
h3,
h4,
ul,
p,
ol {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  font: 0.12rem "Microsoft Yahei";
}
a {
  text-decoration: none;
  color: inherit;
  /* 清除移动端高亮 */
  line-height: normal;
  display: block;
  -webkit-tap-highlight-color: transparent;
  /* 解决不能使用 swipe 的问题 */
  touch-action: none;
}
li,
ol {
  list-style: none;
}
input,
button {
  outline: none;
  border-style: none;
}
button {
  border-style: none;
}
/* 解决 3px 留白问题 */
img {
  vertical-align: middle;
}
/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  height: 0;
}
.clearfix::after {
  clear: both;
}
/* 设置字体颜色 */
.red {
  color: red;
}
/* 不换行 + 省略号 */
.p-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 绝对定位居中 */
.postion-center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
/*=======================公共部分============================*/
/* 广告栏 */
.banner-app {
  background-color: #434343;
  font-size: .12rem;
  padding: .1rem;
  position: relative;
  top: 0;
  left: 0;
  /* logo */
  /* 中间文字部分 */
  /* 右边下载按钮 */
  /* 关闭按钮 */
}
.banner-app .logo a img {
  width: .6rem;
  height: .6rem;
  margin-top: .03rem;
}
.banner-app .content {
  padding-left: .1rem;
}
.banner-app .content h2 {
  padding-top: .03rem;
  color: #fff;
  font-size: .16rem;
  font-weight: normal;
}
.banner-app .content p {
  margin: .05rem 0;
  color: #fee6c2;
}
.banner-app .download #download-app {
  padding: .06rem .1rem;
  background-color: #6db110;
  border-radius: .04rem;
  color: #fff;
  position: absolute;
  right: .1rem;
  bottom: .1rem;
  font-size: .14rem;
}
.banner-app a.close {
  width: .2rem;
  height: .2rem;
  background-color: black;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: .1rem;
  right: .1rem;
  font-size: .12rem;
  text-align: center;
  text-indent: .005rem;
  line-height: .2rem;
}
/* 头部 logo 栏 */
header {
  /* logo 栏 */
  /* 搜索栏 */
}
header .logo {
  height: .5rem;
  border-bottom: 1px solid black;
  background-color: #414a4e;
}
header .search {
  box-sizing: content-box;
  height: .3rem;
  padding: .1rem;
  border-bottom: 1px solid #e6e6e6;
  background-color: #a1aaae;
}
/* 底部栏 */
footer {
  margin-top: .25rem;
  padding-bottom: .25rem;
  color: #5a5a5a;
  background-color: #efefef;
}
footer .tools {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
footer .tools a {
  box-sizing: border-box;
  border-right: 1px solid #c4c4c4;
  text-align: center;
  padding: .1rem 0;
  font-size: .14rem;
}
footer .tools a:last-of-type {
  border-right: none;
}
footer .copyRight {
  margin-top: .2rem;
  text-align: center;
}
footer .copyRight p > a {
  display: inline-block;
  margin-top: .05rem;
}
/* 底部应用打开 */
.open-localapp {
  box-sizing: border-box;
  width: 100%;
  height: 0.6rem;
  position: fixed;
  bottom: 0;
  background-color: #faf8f5;
  padding-top: 0.095rem;
  /* 关闭按钮 */
  /* applogo 和 打开按妞 */
  /* 中间文字部分 */
  /* 立即打开 */
}
.open-localapp a.pull-left {
  box-sizing: content-box;
  width: .21rem;
  height: .21rem;
  padding: 0.095rem 0.12rem 0.2rem 0.12rem;
  background-color: rgba(0, 0, 0, 0.3);
  background-origin: content-box;
  background-clip: content-box;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: .21rem;
}
.open-localapp .logo img {
  width: .41rem;
  height: .41rem;
}
.open-localapp .content {
  padding-left: .1rem;
  color: #888;
  line-height: .20rem;
}
.open-localapp .content h2 {
  font-weight: normal;
  font-size: .18rem;
}
.open-localapp .content p {
  font-size: .12rem;
}
.open-localapp #open-app {
  width: auto;
  height: 0.25rem;
  display: block;
  padding: 0 .05rem;
  margin-top: .06rem;
  margin-right: .05rem;
  background-color: #ff7700;
  box-shadow: inset 0 -2px #ff5500;
  border-radius: .04rem;
  color: #fff;
  text-align: center;
  line-height: 0.25rem;
  font-size: .12rem;
}
/* 加载中动画 */
.loading {
  display: none;
  width: 100%;
  padding: 0 .2rem;
  margin: auto;
  overflow: hidden;
  height: 0.36rem;
}
.loading .filter-mix {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 0.36rem;
}
.loading .filter-mix::before {
  content: "";
  position: absolute;
  width: 0.26rem;
  height: 0.26rem;
  border-radius: 50%;
  background: #19a4e1;
  top: 0.05rem;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
  animation: filterBallMove 10s ease-out infinite;
}
.loading .filter-mix::after {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background: #ef553b;
  top: 0.08rem;
  right: 0;
  z-index: 2;
  animation: filterBallMove2 10s ease-out infinite;
}
@keyframes filterBallMove {
  50% {
    left: 85%;
  }
  to {
    z-index: 2;
  }
}
@keyframes filterBallMove2 {
  50% {
    right: 85%;
  }
  to {
    z-index: 3;
  }
}
/* 模拟 boostrap 栅栏系统 */
/* 媒体查询设置 */
/* 担心有些ie浏览器 不识别 媒体查询 only   */
@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
  html,
  body {
    font-size: 168.75px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-sm-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-12 {
    width: 100%;
    float: left;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-md-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-md-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-md-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-md-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-md-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-md-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-md-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-md-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-md-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-md-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-md-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-md-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-md-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-md-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-md-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-md-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-md-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-md-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-md-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-md-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-md-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-md-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
  html,
  body {
    font-size: 150px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-sm-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 125px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-sm-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 112.5px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-sm-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-sm-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-sm-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-sm-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-sm-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-sm-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-sm-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 100px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 93.75px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 84.375px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 75px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 64.6875px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 62.5px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 58.59375px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 56.25px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 50px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
  html,
  body {
    font-size: 37.5px;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (width: 6.4rem) {
  html {
    font-size: 1rem;
  }
  /* 版心布局 */
  .container .row::after,
  .container .row::before {
    content: "";
    display: table;
    height: 0;
  }
  .container .row::after {
    clear: both;
  }
  .container .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container .row .col-xs-12 {
    width: 100%;
    float: left;
  }
  /* 流体布局 */
  .container-fulid .row .col-xs-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-3 {
    width: 25%;
    float: left;
  }
  .container-fulid .row .col-xs-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-6 {
    width: 50%;
    float: left;
  }
  .container-fulid .row .col-xs-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-9 {
    width: 75%;
    float: left;
  }
  .container-fulid .row .col-xs-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fulid .row .col-xs-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fulid .row .col-xs-12 {
    width: 100%;
    float: left;
  }
}
html,
body {
  height: 100%;
  background-color: #efefef;
}
/* 最外层包裹层 */
.mmm-bj {
  font-size: .12rem;
  height: 1000px;
  /* 遮罩层 */
}
.mmm-bj > .mask {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
/* 头部 tab 栏 */
.tab-nav {
  margin-top: 1.2rem;
}
.tab-nav ul {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tab-nav ul li {
  box-sizing: border-box;
  text-align: center;
}
.tab-nav ul li a {
  height: 0.4rem;
  width: 100%;
  line-height: 0.4rem;
  font-size: .14rem;
  color: #5a5a5a;
}
.tab-nav ul li.active a {
  color: #ed0000;
}
.tab-nav ul li:last-of-type {
  border-right: none;
}
/* 商品列表信息栏 */
.product-list {
  background-color: #fff;
  width: 100%;
  /* 解决滑动事件不能使用的问题 */
  touch-action: none;
}
.product-list .loading {
  border-bottom: 1px solid #c4c4c4;
}
.product-list ul {
  overflow: hidden;
  width: 100%;
}
.product-list ul li {
  width: 100%;
  height: 1.25rem;
  border-bottom: 1px solid #c4c4c4;
  position: relative;
  /* 遮罩层 */
}
.product-list ul li .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.product-list ul li > div.clearfix {
  display: block;
  width: 70%;
  padding-left: 1.4rem;
  box-sizing: content-box;
  /* 内容区 */
  /* 坐标的产品图片 */
}
.product-list ul li > div.clearfix .content {
  font-size: .16rem;
  color: #333333;
  padding-top: .1rem;
}
.product-list ul li > div.clearfix .content p {
  width: 100%;
  margin: .05rem 0;
}
.product-list ul li > div.clearfix .content p.txt {
  margin-top: 0;
  padding-top: .05rem;
  /* 不换行 + 省略号 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-list ul li > div.clearfix .content p.title {
  height: .208rem;
}
.product-list ul li > div.clearfix .content p.price {
  font-size: .18rem;
  color: #ed0000;
}
.product-list ul li > div.clearfix .content p.msg {
  font-size: .12rem;
  color: #a1a1a1;
  line-height: .24rem;
}
.product-list ul li > div.clearfix .avatar {
  padding-right: .1rem;
  padding-left: .1rem;
  margin-left: -1.4rem;
}
.product-list ul li > div.clearfix .avatar img {
  width: 1.2rem;
  height: 1.2rem;
}
/* 控制页码 */
.pageCon {
  padding-top: .2rem;
}
.pageCon .row div {
  text-align: center;
  font-size: .14rem;
}
.pageCon .row div button {
  padding: 0 .15rem;
  box-shadow: 0 0 1px #666;
  border-radius: .05rem;
  background-color: #d4d4d4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#d4d4d4));
  line-height: .32rem;
  font-size: .14rem;
}
.pageCon .row div select {
  width: .82rem;
  height: .33rem;
  border-radius: .03rem;
  padding-left: .19rem;
  font-size: .16rem;
}
/* 友情链接 */
.link {
  padding-left: .1rem;
  padding-top: .25rem;
  line-height: .24rem;
}
.link h3 {
  font-weight: normal;
}
.link a {
  margin: .1rem 0;
  color: #5a5a5a;
}
/* 筛选 */
.filter {
  overflow: auto;
  width: 80%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  left: -80%;
  top: 0;
  z-index: 2;
  /* 标题 */
  /* form表单选项 */
}
.filter h2.f-titler {
  height: 0.44rem;
  border-bottom: 2px solid #e0e0e0;
  font-size: .2rem;
  text-align: center;
  letter-spacing: .1rem;
  line-height: 0.44rem;
  font-weight: normal;
}
.filter h2.f-titler span {
  height: 100%;
  padding: 0 .2rem;
  line-height: 0.44rem;
  text-align: center;
}
.filter form {
  font-size: .12rem;
  background-color: #fff;
  padding: 0 3%;
  line-height: .48rem;
  /* 小标题 */
  /* 表单选项 */
}
.filter form h3 {
  padding-top: .1rem;
  font-size: .16rem;
  font-weight: normal;
}
.filter form h3 span {
  color: #ff5000;
  line-height: .48rem;
  font-size: .12rem;
  margin-left: .1rem;
}
.filter form h3 span.icon-chevron-down,
.filter form h3 span.icon-chevron-up {
  color: black;
  font-size: .16rem;
  margin-right: .1rem;
}
.filter form ul {
  overflow: hidden;
}
.filter form ul li {
  width: 33.3%;
  float: left;
  padding-right: .2rem;
  margin-bottom: .1rem;
  box-sizing: border-box;
}
.filter form ul li input {
  width: 100%;
  padding-top: .02rem;
  border-radius: .08rem;
  background-color: #eceff1;
  line-height: .28rem;
  color: #5a5a5a;
  font-size: .13rem;
}
.filter form ul li input.active {
  background-color: #ff5000;
  color: #fff;
}
